*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: blanchedalmond;
}


.mt-5{
    background-color: linen;
}

.text{
    color: blue;
    font-size: larger;
    font-weight: 600;
}